body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("Background_Image.jpg");
    }
header {
    background-color: #460101;
    color: #fff;
    padding: 20px;
    text-align: center;
    }
nav {
    background-color: #2c0000;
    color: #fff;
    padding: 10px;
    text-align: center;
    }
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    }
article {
    padding: 20px;
    margin: 20px;
    background-color: #fff9f9c9;
    }
h2 {
    color: #333;
    }
p {
    color: #666;
    }
img{
    width: 150px;
    height: 140px;
}